<nav class="navigation" id="navigation">
  <div class="container">
    <div class="logo">CrudLogo</div>
    <ul class="navigation-links">
      <li>home</li>
      <li>shop</li>
      <li class="active">about</li>
      <li>contact</li>
      <a href="javascript:void(0);" class="icon" onclick="responsiveMenu()">
        <i class="fa fa-bars"></i>
      </a>
    </ul>
  </div>
</nav>
<div class="items-center top_wrapper">
  <span class="text-[#667085] font-bold">Recent placeholders</span>
  <button class="btn-cls" mat-raised-button (click)="openCreateDialog()">
    Add Placeholder
  </button>
</div>
<div class="">
  <div class="pagecontent">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
      <!-- userId Column -->
      <ng-container matColumnDef="title" class="col_style">
        <th mat-header-cell *matHeaderCellDef>Title</th>
        <td mat-cell *matCellDef="let element">{{ element.title }}</td>
      </ng-container>
      <!-- body Column -->
      <ng-container matColumnDef="body" class="col_style">
        <th mat-header-cell *matHeaderCellDef>Body</th>
        <td mat-cell *matCellDef="let element">{{ element.body }}</td>
      </ng-container>
      <ng-container matColumnDef="id" class="col_style">
        <th mat-header-cell *matHeaderCellDef class="text-left">Action</th>
        <td mat-cell *matCellDef="let element" class="!text-right">
          <i
            class="material-icons bg-blue"
            title="Edit Row"
            (click)="openEditDialog(element)"
            >edit</i
          >
          <i
            class="material-icons bg-blue"
            title="Delete Row"
            (click)="openDeleteDialog(element.id)"
            >delete</i
          >
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </div>
</div>
