<div class="navbar">PLACEHOLDER LIST <button class="btn-cls" mat-raised-button (click)="openCreateDialog()">Add Placeholder</button></div>
<div class="">
  <div class="pagecontent">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
      <!-- userId Column -->
      <ng-container matColumnDef="title">
        <th mat-header-cell *matHeaderCellDef>Title</th>
        <td mat-cell *matCellDef="let element">{{ element.title }}</td>
      </ng-container>
      <!-- body Column -->
      <ng-container matColumnDef="body">
        <th mat-header-cell *matHeaderCellDef>Body</th>
        <td mat-cell *matCellDef="let element">{{ element.body }}</td>
      </ng-container>
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef>Action</th>
        <td mat-cell *matCellDef="let element">
          <i class="material-icons bg-blue" title="Edit Row" (click)="openEditDialog(element)">edit</i>
          <i class="material-icons bg-blue" title="Delete Row" (click)="openDeleteDialog(element.id)">delete</i>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </div>
</div>